.contact-container
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    overflow: scroll;

}

.card
{
    height: 25rem;
    width: 25rem;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    background-color: white;
    margin: 1rem;
    
}

.card-header
{
    background-color: grey;
    height: 3rem;
    border: solid 1px white;
    margin: 1rem;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bolder;
    padding-top: 0.5rem;
}

.card-body
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    font-size: large;
    font-weight: bolder;
    font-family: sans-serif;
    text-align: center;
}

.btn-danger{
    margin-top: 1rem;
    margin-left: 5rem;
}

.btn-danger
{

    background-color: red;
}



@media(min-width:1000px) and (max-width:1500px)
{
 .card{
    height: 25rem;
    width: 25rem;
    font-size: large;
    
 }

 
 
}

@media(min-width:700px) and (max-width:1000px)
{
    .card{

        height: 20rem;
        width: 15rem;
        font-size: medium;
        margin-left: 1rem;
    }

   .card button {
        width: 9rem;
        height: 4rem;
    }

    .btn-danger
    {
        margin-left: 3rem;
    }


 
}

@media(min-width:300px) and (max-width:700px)
{
      .card{
        
        height: 20rem;
        width: 15rem;
        font-size: small;
        margin-left: 3rem;
    }

   .card button {
        width: 9rem;
        height: 2rem;
    }

    .btn-danger
    {
        margin-left: 3rem;
    }

   
}